/*-------------------------------------------------------------------
Pages -> login
--------------------------------------------------------------------*/
.login-page {

    .login-content {
        padding: 170px 0;
        max-width:500px;
        width: 100%;
        margin: 0 auto;
    }
}
