/*-------------------------------------------------------------------
Pages -> login
--------------------------------------------------------------------*/
.signup-page {
    .container {
        padding: 120px 0;
    }

    .signup-left {
        background: linear-gradient(to bottom, #050505, #1570ef);
        padding: 40px 30px 0;
        border-radius: 20px;

        h2,
        h3 {
            color: $white;
            font-weight: bolder;
        }

        .sl-logo {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            img {
                margin-right: 15px;
            }
        }
    }

    .signup-right {
        padding: 40px 0;
    }
    h1 {
        color: #fff;
    }
}
