/*-------------------------------------------------------------------
 Google Fonts
--------------------------------------------------------------------*/
body {
    font-family: $font-family-base;
    background-color: $gray-400;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1 {
    font-size: $h1-font-size;
    color: $primary;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

p {
    font-size: $font-size-base;
    color: $white;
}

ul {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

button:focus {
    outline: 0 !important;
}
