/*-------------------------------------------------------------------
 Pages-> Pages
--------------------------------------------------------------------*/

// Sign Page
@import 'dashboard/dashboard';

// Home Page
@import 'home/home';

// Login Page
@import 'login/login';

// Sign Page
@import 'sign/sign';

// Sign Page
@import 'contact/contact';

// Sign Page
@import 'admin/admin';
